<html ng-app="cl">
<head>
	<title>Call</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.9/angular.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body ng-controller="pageCtrl">
	<cl-nav model="navObject"></cl-nav>
	<div class="container-fluid page-content" >
		<div class="row">
			<div class="col-md-6 col-lg-6 col-sm-12">
				<cl-listgroup model="notHerePeople">
				</cl-listgroup>
			</div>
			<div class="col-md-6 col-lg-6 col-sm-12">
				<cl-listgroup model="herePeople">
				</cl-listgroup>
			</div>
		</div>
	</div>
</div>
</body>
</html>