body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div.title {
	min-height: 100px;
	padding-bottom: 20px;
}
.title p {
	font-size: 3.5em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	font-weight: 100;
}

.title  a {
	color: #a2a2a2;
}

.title  a:hover {
	color: #a2a2a2;
	text-decoration: none;
}

.shuffle-btn {
	position: absolute;
	width:100px;
	height:100px;
	right: -30px;
	top: 10px;
}